<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Autista</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_registration.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>🚗 LOGIN AUTISTA</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('login.login_driver') }}" method="post">
            <p>Email:</p>
            <input type="email" name="email" placeholder="Inserire la mail" required>

            <p>Password:</p>
            <input type="password" name="password" placeholder="Inserire la password" required>

            <button type="submit">Accedi</button>
        </form>
        <div class="button-group">
            <a href="{{ url_for('main.homepage') }}">← Torna alla Home</a>
        </div>
    </div>
</body>
</html>
