<html>
    <body>
        <h1>REGISTRAZIONE AUTISTA</h1>
        <form action="{{ url_for('registration.registration_driver') }}" method="post">
            <p>Nome:</p>
            <input type="text" name="name" placeholder="Inserire il nome" required>
            <br><br>
            <p>Cognome:</p>
            <input type="text" name="surname" placeholder="Inserire il cognome" required>
            <br><br>
            <p>Password:</p>
            <input type="password" name="password" placeholder="Inserire la password" required>
            <br><br>
            <p>Età:</p>
            <input type="text" name="age" placeholder="Inserire l'età" required>
            <br><br>
            <p>Mail:</p>
            <input type="email" name="email" placeholder="Inserire la mail" required>
            <br><br>
            <p>Patente:</p>
            <input type="text" name="license" placeholder="Inserire il codice della patente" size="30" required>
            <br><br>
            <button type="submit">Accedi</button>
        </form>
        <a href="{{ url_for('index.index_html') }}">Indietro</a>
    </body>
</html>