<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione Passeggero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_registration.css') }}">
    
</head>
<body>
    <div class="form-container">
        <h1>👤 REGISTRAZIONE PASSEGGERO</h1>
        <form method="post">
            <p>Nome:</p>
            <input type="text" name="name" placeholder="Inserire il nome" required>

            <p>Cognome:</p>
            <input type="text" name="surname" placeholder="Inserire il cognome" required>

            <p>Password:</p>
            <input type="password" name="password" placeholder="Inserire la password" required>

            <p>Età:</p>
            <input type="text" name="age" placeholder="Inserire l'età" required>

            <p>Email:</p>
            <input type="email" name="email" placeholder="Inserire la mail" required>

            <button type="submit">Registrati</button>
        </form>
        <div class="button-group">
            <a href="{{ url_for('main.homepage') }}">← Torna alla Home</a>
        </div>
    </div>
</body>
</html>